<div id="login-main" class="m-0 p-0 container-fluid vh-100 col-12 d-flex justify-content-center align-items-center">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <form *ngIf="!loading" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <div class="text-center mb-4">
            <img class="img-fluid" src="/assets/img.png" alt="Logo" style="max-height: 100px;">
          </div>

          <div class="text-center mb-4">
            <h5>Login</h5>
            <p class="text-muted small">An invitation code is needed to access the page.</p>
            <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
          </div>

          <div class="form-group">
            <label for="loginCode">Invitation Code</label>
            <input id="loginCode" type="password" formControlName="loginCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.loginCode.errors }" />
            <div *ngIf="submitted && f.loginCode.errors" class="invalid-feedback">
              <div *ngIf="f.loginCode.errors.required">Invitation Code is required</div>
            </div>
          </div>

          <div class="form-group mt-4">
            <button [disabled]="loading" class="btn btn-primary w-100">Login</button>
          </div>

        </form>

        <div class="text-center p-5" *ngIf="loading">
          <i class="fas fa-spinner fa-pulse fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
