#login-main {
  background-image: url("/assets/login-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.card {
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  border-radius: 10px;
}
