
<div class="container-xl">
  <div class="card shadow mb-4">

    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

      <div class="btn-toolbar justify-content-lg-start" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary" title="Save" (click)="onUpdate()"><i class="fas fa-save"></i></button>
          <a class="btn btn-secondary" title="List" routerLink="/r/{{repoId}}/capability"><i class="fas fa-list"></i></a>
          <button type="button" class="btn btn-secondary" title="Remove" data-toggle="modal" data-target="#confirmDelete"><i class="fas fa-trash"></i></button>
        </div>
      </div>

      <div class="btn-group justify-content-lg-end" role="group">
        <div class="m-0 font-weight-bold text-uppercase text-gray-400 text-right">
          <p class="p-0 m-0">{{capability?.name}}</p>
          <p class="small p-0 m-0">Base</p>
        </div>
      </div>

    </div>

    <div class="card-body">



      <form [formGroup]="capabilityForm" (ngSubmit)="onUpdate()">


        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" formControlName="name" class="form-control" id="name">
            <div *ngIf="capabilityForm && capabilityForm?.get('name').invalid && (capabilityForm?.get('name').dirty || capabilityForm?.get('name').touched)" class="is-invalid text-xs text-danger mt-1">Name is required</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea rows="3" type="text" formControlName="description" class="form-control" id="description"></textarea>
          </div>
        </div>


        <div class="form-group row">
          <label for="tags" class="col-sm-2 col-form-label">Tags</label>
          <div class="col-sm-10">
            <ng-select id="tags" [items]="[]"
                       [addTag]="true"
                       [multiple]="true"
                       [selectOnTab]="true"
                       [isOpen]="false"  formControlName="tags">
            </ng-select>
          </div>
        </div>

        <div class="form-group row">
          <label for="status" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-10">
            <ng-select id="status" formControlName="status">
              <ng-option [value]="0">Draft</ng-option>
              <ng-option [value]="1">Validated</ng-option>
            </ng-select>
          </div>
        </div>



        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>


      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 form-group d-flex justify-content-start">
          Really delete {{capability?.name}}?
        </div>
      </div>
      <div class="modal-footer border-top-0 d-flex justify-content-center">
        <button class="btn btn-danger" (click)="delete()" data-dismiss="modal">Delete</button>
        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
