
<div class="container-xl mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="btn-toolbar" role="toolbar">
      <app-api-call-edit-nav [apiCallId]="apiCallId"></app-api-call-edit-nav>
    </div>
    <div class="text-right">
      <h2 class="m-0 font-weight-bold text-uppercase text-gray-400">{{apiCall?.name}}</h2>
      <div class="text-muted small">Used by Process</div>
    </div>
  </div>

  <div class="card shadow-sm border-0 mb-4">
    <div class="card-body p-0">
      <app-process-table (deleted)="refresh()" [processes]="usedBy" [showFilter]="false"></app-process-table>
    </div>
  </div>
</div>

