<div class="container-xl mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="btn-toolbar" role="toolbar">
      <app-api-call-edit-nav [apiCallId]="apiCallId"></app-api-call-edit-nav>
    </div>
    <div class="text-right">
      <h2 class="m-0 font-weight-bold text-uppercase text-gray-400">{{apiCall?.name}}</h2>
      <div class="text-muted small">Implemented In Systems</div>
    </div>
  </div>

  <div class="card shadow-sm border-0 mb-4">
    <div class="card-body">
      <div *ngFor="let system of implementedIn" class="mb-1">
        <app-system-overview [system]="system" (deleteEmitter)="delete($event)"></app-system-overview>
      </div>
    </div>
  </div>
</div>

