<div class="container-xl">
  <div class="card shadow mb-4">

    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

      <div class="btn-toolbar justify-content-lg-start" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a class="btn btn-secondary" title="Capability Map" routerLink="/capability/view"><i class="fas fa-map"></i></a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button class="btn btn-secondary" title="Load from GitHub" (click)="openGitHubDialog()"><i class="fab fa-github"></i></button>
          <button class="btn btn-secondary" title="Save to GitHub" (click)="openSaveGitHubDialog()"><i class="fas fa-save"></i></button>
        </div>
      </div>

      <div class="btn-group justify-content-lg-end" role="group">
        <h3 class="m-0 font-weight-bold text-uppercase text-gray-400">Dashboard</h3>
      </div>

    </div>

    <div class="card-body">

      <div class="text-center text-success"><i class="fa fa-info-circle"></i> Landscapr stores data locally in your browser storage. NO data is transferred to our servers.<i class="fa fa-info-circle"></i></div>

      <div class="fa-3x text-center p-5" *ngIf="!processes">
        <i class="fas fa-spinner fa-pulse"></i>
      </div>

      <div *ngIf="processes && processes?.length === 0" class="small font-italic">No favorite processes available.</div>


      <app-process-table [repoId]="repoId" [processes]="processes"  *ngIf="processes && processes?.length > 0"></app-process-table>
    </div>

  </div>
</div>
