@use '@angular/material' as mat;

@include mat.core();

// Typography
$typography: mat.define-typography-config(
  $font-family: 'Roboto, sans-serif'
);

// Light Theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  ),
  typography: $typography,
));

// Dark Theme
$dark-primary: mat.define-palette(mat.$blue-gray-palette);
$dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  ),
  typography: $typography,
));
