:host {
    display: block;
    height: 100%;
}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
