<div class="container-fluid" xmlns:svg="http://www.w3.org/1999/XSL/Transform">
  <div class="card shadow mb-4">

    <div class="card-header">
      <div class=" py-3 d-flex flex-row align-items-center justify-content-between container-xl">
      <div class="btn-toolbar justify-content-lg-start" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">

          <button type="button" class="btn btn-secondary" title="Save" (click)="zoomIn()"><i class="fas fa-search-plus"></i></button>
          <button type="button" class="btn btn-secondary" title="Save" (click)="zoomOut()"><i class="fas fa-search-minus"></i></button>

          <a class="btn btn-secondary" title="List" routerLink="/process"><i class="fas fa-list"></i></a>
        </div>
      </div>

      <div class="btn-group justify-content-lg-end" role="group">
        <div class="m-0 font-weight-bold text-uppercase text-gray-400 text-right">
          <p class="p-0 m-0">{{process?.name}}</p>
          <p class="small p-0 m-0">Base</p>
        </div>
      </div>
      </div>

    </div>

    <div class="card-body">

      <app-swimlane-view [zoomFactor]="zoomFactor" [processId]="processId"></app-swimlane-view>

<!--      <app-process-graph *ngIf="process?.steps && process?.steps?.length > 0" [processId]="processId" (processClicked)="processNodeClicked($event)"></app-process-graph>-->
<!--      <app-api-call-graph *ngIf="process?.apiCallIds && process?.apiCallIds?.length > 0" [processId]="processId" (processClicked)="processNodeClicked($event)"></app-api-call-graph>-->
    </div>
  </div>

</div>
