:host {
    display: block;
    height: 100%;
}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.content {
  margin:0;
  padding:0;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--navbar-height) - var(--submenu-height));
}
