<div class="container-xl mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="btn-toolbar" role="toolbar">
      <app-journey-edit-nav [journeyId]="journeyId"></app-journey-edit-nav>
      <div class="btn-group shadow-sm">
        <button type="button" class="btn btn-outline-primary" title="Save" (click)="onUpdate()">
          <i class="fas fa-save mr-1"></i> Save
        </button>
      </div>
    </div>
    <div class="text-right">
      <h2 class="m-0 font-weight-bold text-uppercase text-gray-400">{{journeyId ? journey?.name : 'New Journey'}}</h2>
      <div class="text-muted small">Journey Base</div>
    </div>
  </div>

  <div class="card shadow-sm border-0 mb-4">
    <div class="card-body">
      <form [formGroup]="journeyForm" (ngSubmit)="onUpdate()">
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" formControlName="name" class="form-control" id="name">
            <div *ngIf="journeyForm && journeyForm?.get('name')?.invalid && (journeyForm?.get('name')?.dirty || journeyForm?.get('name')?.touched)" class="is-invalid text-xs text-danger mt-1">Name is required</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea rows="3" type="text" formControlName="description" class="form-control" id="description"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="tags" class="col-sm-2 col-form-label">Tags</label>
          <div class="col-sm-10">
            <ng-select id="tags" [items]="[]"
                       [addTag]="true"
                       [multiple]="true"
                       [selectOnTab]="true"
                       [isOpen]="false"  formControlName="tags">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label for="status" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-10">
            <div class="btn-group" role="group">
              <button type="button" class="btn" [class.btn-primary]="journeyForm.get('status').value === 0" [class.btn-outline-primary]="journeyForm.get('status').value !== 0" (click)="journeyForm.get('status').setValue(0)">Draft</button>
              <button type="button" class="btn" [class.btn-primary]="journeyForm.get('status').value === 1" [class.btn-outline-primary]="journeyForm.get('status').value !== 1" (click)="journeyForm.get('status').setValue(1)">Validated</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
