<div class="container-xl">
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary" title="Save" (click)="onUpdate()"><i class="fas fa-save"></i></button>
          <a class="btn btn-secondary" title="List" routerLink="/journeys/list"><i class="fas fa-list"></i></a>
        </div>
      </div>
      <div class="btn-group justify-content-lg-end" role="group">
        <div class="m-0 font-weight-bold text-uppercase text-gray-400 text-right">
          <p class="p-0 m-0">{{journey?.name}}</p>
          <p class="small p-0 m-0">Base</p>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form [formGroup]="journeyForm" (ngSubmit)="onUpdate()">
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" formControlName="name" class="form-control" id="name">
            <div *ngIf="journeyForm && journeyForm?.get('name')?.invalid && (journeyForm?.get('name')?.dirty || journeyForm?.get('name')?.touched)" class="is-invalid text-xs text-danger mt-1">Name is required</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea rows="3" type="text" formControlName="description" class="form-control" id="description"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
