:host {
  display: block;
  height: 100%;
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card-body {
  flex: 1;
  overflow: auto;
  position: relative;
  /* Ensure it has minimum height */
  min-height: 200px;
}
