@use "src/styles/abstracts/variables" as vars;

.repo-list, .file-list {
  max-height: 60vh;
  overflow-y: auto;
}

.repo-item, .file-item {
  cursor: pointer;
}

.repo-item.active, .file-item.active {
  background-color: rgba(vars.$primary, 0.1) !important;
}

.dnd-container {
  border: 2px dashed #6c757d;
  border-radius: 6px;
  text-align: center;
}

.dnd-container label {
  cursor: pointer;
  color: #0d6efd;
}

.huge-icon {
  font-size: 2rem;
}

.list-group-item.repo-item.active, .list-group-item.file-item.active {
  color: vars.$primary !important;
  font-weight: 600;
}
