

<div class="mar-large">

  <div class="row">
    <div class="col md-12">
      <div class="box">

        <label for="SearchField">
          <input placeholder="Search..." id="SearchField" type="text" [(ngModel)]="searchText">
        </label>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col md-4">
      <div class="box">

        <div class="card">
          <div class="card__content">
            <div class="table is-elevate">
              <table class="table__body">
                <tbody>
                <tr *ngFor="let service of informationSystemServices | informationSystemServiceFilter: searchText">
                  <td class="sm-4"><a (click)="onEdit(service, false)">{{service.id}}</a></td>
                  <td class="sm-6">{{service.name}}</td>
                  <td class="sm-1">
                    <a class="btn" (click)="onEdit(service, true)">
                      <i class="icon i-edit"></i>
                    </a>
                  </td>
                  <td class="sm-1">
                    <a class="btn" (click)="onDelete(service.$key)">
                      <i class="icon i-delete"></i>
                    </a>
                  </td>
                </tr>
              </table>

              <div class="horizontal-margins-small mar-large">
                <button (click)="createNew()" class="btn btn--primary" type="submit">
                  <span class="icon i-folder-new"></span>Create New
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col md-8">
      <div class="box">

        <app-information-system-service [service]="selectedISS" [editMode]="editMode"></app-information-system-service>

      </div>
    </div>
  </div>
</div>





