



<div class="container-fluid">
  <div class="card shadow mb-4">

    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

      <div class="btn-toolbar justify-content-lg-start" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">

          <button type="button" class="btn btn-secondary" title="Save" (click)="zoomIn()"><i class="fas fa-search-plus"></i></button>
          <button type="button" class="btn btn-secondary" title="Save" (click)="zoomOut()"><i class="fas fa-search-minus"></i></button>
          <a class="btn btn-secondary" title="Edit {{process?.name}}" routerLink="/process/edit/{{process?.id}}"><i class="fas fa-edit"></i></a>

        </div>
      </div>

      <div class="btn-group justify-content-lg-end" role="group">
        <h3 class="m-0 font-weight-bold text-uppercase text-gray-400">Process View</h3>
      </div>

    </div>

    <div class="card-body p-0 m-0">



      <app-swimlane-view [zoomFactor]="zoomFactor" [processId]="processId"></app-swimlane-view>

    </div>

  </div>
</div>

