
<div class="container-xl mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="btn-toolbar" role="toolbar">
      <app-capability-edit-nav [capabilityId]="capabilityId"></app-capability-edit-nav>
    </div>
    <div class="text-right">
      <h2 class="m-0 font-weight-bold text-uppercase text-gray-400">{{capability?.name}}</h2>
      <div class="text-muted small">Assigned Functions</div>
    </div>
  </div>

  <div class="card shadow-sm border-0 mb-4">
    <div class="card-body">
      <div class="mt-1" *ngFor="let item of usedBy">
        <app-api-call-overview [repoId]="repoId" [apiCall]="item" [readOnly]="true"></app-api-call-overview>
      </div>
    </div>
  </div>
</div>

