

<!--<ul class="uk-subnav">-->

<!--  <a href="javascript:void(0)" (click)="showCode = !showCode" uk-icon="cog"></a>-->
<!--  <a href="javascript:void(0)" (click)="refresh()" uk-icon="refresh"></a>-->
<!--  <a href="javascript:void(0)" (click)="save()" uk-icon="database"></a>-->
<!--  <a href="javascript:void(0)" (click)="zoomIn()" uk-icon="plus-circle"></a>-->
<!--  <a href="javascript:void(0)" (click)="zoomOut()" uk-icon="minus-circle"></a>-->
<!--</ul>-->




<div style="height: 500px;">

      <div class="parent overflow">
        <canvas #canvas class="canvas" width="5500" height="3500"></canvas>
      </div>

<!--    <div *ngIf="showCode" style="min-width: 50%;width: 50%;">-->
<!--      <ngx-monaco-editor style="height:82vh;" [options]="editorOptions" [(ngModel)]="modelledProcess.rawProcess" (ngModelChange)="codeChanged()"></ngx-monaco-editor>-->
<!--    </div>-->
</div>
