
<input  *ngIf="processes && processes?.length > 0 && showFilter" type="text" class="input-group form-control" placeholder="Search.." [(ngModel)]="filter" [ngModelOptions]="{standalone: true}">
<div *ngIf="processes && processes?.length > 0 && showFilter" class="form-check mt-2">
  <input id="onlyWithSubprocesses" type="checkbox" class="form-check-input" [(ngModel)]="onlyWithSubprocesses" [ngModelOptions]="{standalone: true}" aria-label="Toggle: only show processes with subprocess steps">
  <label class="form-check-label" for="onlyWithSubprocesses" title="Show only processes that have subprocess steps">Only with subprocesses</label>
  <br>
  <input id="showOrphansOnly" type="checkbox" class="form-check-input" [(ngModel)]="showOrphansOnly" [ngModelOptions]="{standalone: true}" aria-label="Toggle: only show orphan processes">
  <label class="form-check-label" for="showOrphansOnly" title="Show only processes not referenced by any Journey">Show orphans only</label>
</div>

<table class="mt-3 table table-sm table-striped" *ngIf="processes && processes?.length > 0">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col" class="w-40">Name</th>
    <th scope="col">Comments</th>
    <th scope="col" class="w-40">Tags</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let process of processes | processFilter : filter : onlyWithSubprocesses : showOrphansOnly : orphanIds" [class.table-info]="process.comments?.length > 0">
    <td class="text-nowrap">
      <a class="black mr-2" routerLink="/process/view/{{process?.id}}"><i class="fas fa-eye" title="View Process"></i></a>
      <a class="black mr-2" routerLink="/process/edit/{{process?.id}}"><i class="fas fa-edit" title="Edit Process"></i></a>
      <a class="black mr-2" style="cursor: pointer" (click)="prepareDelete(process)" data-toggle="modal" data-target="#confirmDeleteProcess"><i class="fas fa-trash" title="Delete Process"></i></a>
    </td>
    <td>
      <a class="black" routerLink="/process/edit/{{process?.id}}">{{process.name}}</a>
      <i *ngIf="orphanIds.includes(process.id)" class="ml-2 text-warning fas fa-unlink" title="Orphan: Not referenced by any Journey"></i>
    </td>
    <td>
      <i class="fas fa-comments" [class.text-muted]="!process.comments || process.comments.length === 0" title="{{process.comments?.length || 0}} comment(s)"></i>
      <span class="ml-1" [class.text-muted]="!process.comments || process.comments.length === 0">{{process.comments?.length || 0}}</span>
    </td>
    <td>{{process?.tags}}</td>
    <td class="text-nowrap pl-1 pr-1">
      <i *ngIf="process?.apiCallIds?.length > 0" class="fas fa-wave-square" title="{{process?.apiCallIds?.length}} API Call(s)"></i>
      <i *ngIf="process?.steps?.length > 0" class="fas fa-sitemap" title="{{process?.steps?.length}} Process Step(s)"></i>
    </td>
    <td class="text-nowrap pl-1 pr-1">
      <i *ngIf="process?.status === 0" class="ml-1 text-warning fas fa-exclamation-triangle" title="Draft"></i>
      <i *ngIf="process?.status === 1" class="ml-1 text-success fas fa-check-circle" title="Validated"></i>
    </td>
  </tr>
  </tbody>
</table>

<div class="modal fade" id="confirmDeleteProcess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 form-group d-flex justify-content-start">
          Really delete process '{{processToDelete?.name}}'?
        </div>
      </div>
      <div class="modal-footer border-top-0 d-flex justify-content-center">
        <button class="btn btn-danger" (click)="delete()" data-dismiss="modal">Delete</button>
        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
