
<div *ngIf="processes && processes?.length > 0 && showFilter" class="form-row align-items-center mb-3">
  <div class="col-auto flex-grow-1">
    <input type="text" class="form-control" placeholder="Search.." [(ngModel)]="filter" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="col-auto">
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="btn btn-outline-secondary" [class.active]="filterStatus === null" (click)="filterStatus = null">All Statuses</button>
      <button type="button" class="btn btn-outline-secondary" [class.active]="filterStatus === 0" (click)="filterStatus = 0">Draft</button>
      <button type="button" class="btn btn-outline-secondary" [class.active]="filterStatus === 1" (click)="filterStatus = 1">Validated</button>
      <button type="button" class="btn btn-outline-secondary" [class.active]="filterStatus === 2" (click)="filterStatus = 2">Review Needed</button>
    </div>
  </div>
  <div class="col-auto">
    <div class="form-check">
      <input id="filterComments" type="checkbox" class="form-check-input" [(ngModel)]="filterComments" [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="filterComments">With comments</label>
    </div>
  </div>
  <div class="col-auto">
    <div class="form-check">
      <input id="showOrphansOnly" type="checkbox" class="form-check-input" [(ngModel)]="showOrphansOnly" [ngModelOptions]="{standalone: true}" aria-label="Toggle: only show orphan processes">
      <label class="form-check-label" for="showOrphansOnly" title="Show only processes not referenced by any Journey">Orphans only</label>
    </div>
  </div>
</div>

<table class="mt-3 tree-table" *ngIf="processes && processes?.length > 0">
  <thead>
  <tr>
    <th scope="col">Role</th>
    <th scope="col" class="w-40">Name</th>
    <th scope="col">Comments</th>
    <th scope="col" class="w-40">Tags</th>
    <th scope="col">Metrics</th>
    <th scope="col">Status</th>
    <th scope="col" *ngIf="selectMode"></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let process of _rootProcesses | processFilter : processes : filter : showOrphansOnly : orphanIds : filterStatus : filterComments; trackBy: trackByProcessId">
    <app-process-tree-node
      [process]="process"
      [allProcesses]="processes"
      [level]="0"
      [repoId]="repoId"
      [orphanIds]="orphanIds"
      [filter]="filter"
      [filterStatus]="filterStatus"
      [filterComments]="filterComments"
      [showOrphansOnly]="showOrphansOnly"
      (deleted)="deleted.emit()"
      (delete)="onDelete($event)"
      (showDescription)="onShowDescription($event)"
    ></app-process-tree-node>
  </ng-container>
  </tbody>
</table>

<!-- Description Modal -->
