
<input  *ngIf="processes && processes?.length > 0 && showFilter" type="text" class="input-group form-control" placeholder="Search.." [(ngModel)]="filter" [ngModelOptions]="{standalone: true}">
<div *ngIf="processes && processes?.length > 0 && showFilter" class="form-check mt-2">
  <input id="onlyWithSubprocesses" type="checkbox" class="form-check-input" [(ngModel)]="onlyWithSubprocesses" [ngModelOptions]="{standalone: true}" aria-label="Toggle: only show processes with subprocess steps">
  <label class="form-check-label" for="onlyWithSubprocesses" title="Show only processes that have subprocess steps">Only with subprocesses</label>
  <br>
  <input id="showOrphansOnly" type="checkbox" class="form-check-input" [(ngModel)]="showOrphansOnly" [ngModelOptions]="{standalone: true}" aria-label="Toggle: only show orphan processes">
  <label class="form-check-label" for="showOrphansOnly" title="Show only processes not referenced by any Journey">Show orphans only</label>
</div>

<table class="mt-3 table table-sm table-striped" *ngIf="processes && processes?.length > 0">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col" class="w-50">Name</th>
    <th scope="col" class="w-50">Tags</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let process of processes | processFilter : filter : onlyWithSubprocesses : showOrphansOnly : orphanIds">
    <td class="text-nowrap">
      <a class="black mr-2" routerLink="/process/journey/{{process?.id}}"><i class="fas fa-play-circle" title="Journey"></i></a>
      <a class="black mr-2" routerLink="/process/view/{{process?.id}}"><i class="fas fa-layer-group" title="View Process"></i></a>
      <a class="black mr-2" routerLink="/process/edit/{{process?.id}}"><i class="fas fa-edit" title="Edit Process"></i></a>

    </td>
    <td>
      <a class="black" routerLink="/process/edit/{{process?.id}}">{{process.name}}</a>
      <i *ngIf="orphanIds.includes(process.id)" class="ml-2 text-warning fas fa-unlink" title="Orphan: Not referenced by any Journey"></i>
    </td>
    <td>{{process?.tags}}</td>
    <td class="text-nowrap pl-1 pr-1">
      <i *ngIf="process?.apiCallsIds?.length > 0" class="fas fa-wave-square" title="{{process?.apiCallsIds?.length}} API Call(s)"></i>
      <i *ngIf="process?.steps?.length > 0" class="fas fa-sitemap" title="{{process?.steps?.length}} Process Step(s)"></i>
    </td>
    <td class="text-nowrap pl-1 pr-1">
      <i *ngIf="process?.status === 0" class="ml-1 text-warning fas fa-exclamation-triangle" title="Draft"></i>
      <i *ngIf="process?.status === 1" class="ml-1 text-success fas fa-check-circle" title="Validated"></i>
    </td>
  </tr>
  </tbody>
</table>
