<tr [class.table-info]="process.comments?.length > 0" [class.pointer]="selectMode" (click)="selectMode ? onSelect(process) : null">
  <td class="text-nowrap" [style.padding-left.px]="level * 20" [style.border-left]="'4px solid ' + getRoleColor(process.role)">
    <button *ngIf="childProcesses.length > 0" class="btn btn-sm btn-link p-0 pl-1 text-dark" (click)="toggle(); $event.stopPropagation()" type="button">

      <span *ngIf="expanded == true"><i class="fas fa-sm mr-1 fa-chevron-down"></i></span>
      <span *ngIf="expanded == false"><i class="fas fa-sm mr-1 fa-chevron-right"></i></span>
    </button>
    <div *ngIf="childProcesses.length === 0" style="width: 22px; display: inline-block;"></div>
    <ng-container *ngIf="!selectMode">
      <a class="black mr-2" routerLink="/process/view/{{process?.id}}"><i class="fas fa-eye" title="View Process"></i></a>
      <a class="black mr-2" routerLink="/process/edit/{{process?.id}}"><i class="fas fa-edit" title="Edit Process"></i></a>
      <a class="black mr-2" style="cursor: pointer" (click)="onPrepareDelete(process); $event.stopPropagation()" data-toggle="modal" data-target="#confirmDeleteProcess"><i class="fas fa-trash" title="Delete Process"></i></a>
    </ng-container>
  </td>
  <td>
    <span *ngIf="selectMode" class="font-weight-bold">{{process.name}}</span>
    <a *ngIf="!selectMode" class="black font-weight-bold" routerLink="/process/edit/{{process?.id}}">{{process.name}}</a>
    <i *ngIf="orphanIds.includes(process.id)" class="ml-2 text-warning fas fa-unlink" title="Orphan: Not referenced by any Journey"></i>
  </td>
  <td>
    <i class="fas fa-comments" [class.text-muted]="!process.comments || process.comments.length === 0" title="{{process.comments?.length || 0}} comment(s)"></i>
    <span class="ml-1" [class.text-muted]="!process.comments || process.comments.length === 0">{{process.comments?.length || 0}}</span>
  </td>
  <td>{{process?.tags}}</td>
  <td class="text-nowrap pl-1 pr-1">
    <i *ngIf="process?.apiCallIds?.length > 0" class="fas fa-wave-square" title="{{process?.apiCallIds?.length}} API Call(s)"></i>
    <i *ngIf="process?.steps?.length > 0" class="fas fa-sitemap" title="{{process?.steps?.length}} Process Step(s)"></i>
  </td>
  <td class="text-nowrap pl-1 pr-1" *ngIf="!selectMode">
    <i *ngIf="process?.status === 0" class="ml-1 text-warning fas fa-exclamation-triangle" title="Draft"></i>
    <i *ngIf="process?.status === 1" class="ml-1 text-success fas fa-check-circle" title="Validated"></i>
  </td>
  <td class="text-nowrap pl-1 pr-1 text-right" *ngIf="selectMode" style="width: 30px">
    <i class="fas fa-plus text-primary"></i>
  </td>
</tr>
<tr *ngIf="process.description">
  <td [style.padding-left.px]="level * 20 + 22"></td>
  <td colspan="5" class="pt-0 border-top-0">
    <p class="mb-1 small text-muted description-text">{{process.description}}</p>
  </td>
</tr>
<ng-container *ngIf="expanded">
  <ng-container *ngFor="let child of childProcesses | processFilter : allProcesses : filter : showOrphansOnly : orphanIds; trackBy: trackByProcessId">
    <app-process-tree-node
      [process]="child"
      [allProcesses]="allProcesses"
      [level]="level + 1"
      [repoId]="repoId"
      [orphanIds]="orphanIds"
      [filter]="filter"
      [showOrphansOnly]="showOrphansOnly"
      [selectMode]="selectMode"
      (deleted)="onDeleted()"
      (prepareDelete)="onPrepareDelete($event)"
      (select)="onSelect($event)"
    ></app-process-tree-node>
  </ng-container>
</ng-container>
