<div class="container-lg">
  <div class="text-center">
    <a href="/"><img alt="Logo" class="mb-4" src="assets/img.png"></a>
  </div>
  <h3>Privacy Policy</h3>


  <h5>About</h5>
  <p>LANDSCAPR respects your right to privacy and shares your concern about the security of any data you may submit to
    LANDSCAPR via LANDSCAPR’s websites, apps, APIs and related services (in the following just called LANDSCAPR). The
    following statement (the “Privacy Policy”) discloses the guidelines LANDSCAPR has established for protecting the
    information you provide to LANDSCAPR.</p>

  <p>If you do not agree with the Privacy Policy, do not download, register with, or use LANDSCAPR. By downloading,
    registering with, or using LANDSCAPR, you agree to this Privacy Policy.</p>

  <h5>Cookies & Tracking</h5>
  <p>We use cookies and similar tracking technologies to track the activity on LANDSCAPR and hold certain information. We
    do not use cookies to sell or track behavior. We use cookies purely to store session information and security
    information. At any time, you can instruct your browser to refuse cookies or tracking technologies. However, this
    could restrict the use of LANDSCAPR.</p>

  <h5>Information We Collect</h5>
  <p>LANDSCAPR collects first and lastname as well as your email address as login and identification information.</p>

  <h5>How we use Information</h5>
  <p>We only use your data to provide our services. We do not share, rent or sell your information in any ways other
    than disclosed in this privacy statement.</p>



  <h5>Data Security</h5>
  <p>We have introduced extensive technical and operational safeguards to protect your data against accidental or
    deliberate manipulations, loss, destruction or access by unauthorized persons. Our security procedures are regularly
    tested and adjusted to technological progress.</p>

  <h5>Data Storage and Retention</h5>
  <p>You can request deletion of your LANDSCAPR account anytime at support@landscapr.com. As soon as your account is
    deleted, we will delete all your personal data, and keep your activity log anonymously.</p>

  <h5>Disclosure and Access of Data</h5>
  <p>Based on applicable law, you are entitled to contact LANDSCAPR anytime atchristof@kuhlmeyer.net to receive
    information about the collection, processing and use of your personal data and their correcting, blocking or
    deleting, or revoking the consent given.</p>

  <p>Furthermore you can contact us regarding all data related matters at the following office:<br>
    Christof Kuhlmeyer<br>
    Am Osterberg 26<br>
    29386 Hankensbüttel<br>
    Germany<br>

    Or by email at christof@kuhlmeyer.net</p>

  <p>These compiled data protection regulations or the Data Protection Statement shall be continuously adjusted in the
    course of further development of the internet. Amendments shall be announced on this website beforehand. To stay
    informed about current data protection regulations, you should regularly visit this website.
    Privacy Policy Amendments
    We reserve the right to amend or adjust this Privacy Policy at any time subject to compliance with the applicable
    data protection regulations. If LANDSCAPR makes changes to any terms or conditions of this Privacy Policy, these
    changes will be posted on LANDSCAPR in a timely manner. If LANDSCAPR decides to change this Privacy Policy, it will
    post those changes on this Privacy Policy and other places.
    Contact
    LANDSCAPR welcomes your questions and comments about security and privacy. Please send any questions or comments via
    email to support@landscapr.com.</p>


</div>
