
<nav  class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Landscapr</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="!dataAvailable" class="nav-link" routerLinkActive="active" routerLink="dashboard" aria-current="page">Dashboard</a>
          <a *ngIf="dataAvailable" class="nav-link" routerLinkActive="active" routerLink="/dashboard" aria-current="page">Dashboard</a>
        </li>
        <li *ngIf="dataAvailable" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/process">Process</a>
        </li>
        <li *ngIf="dataAvailable" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/apiCall">Api Call</a>
        </li>
        <li *ngIf="dataAvailable" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/capability">Capability</a>
        </li>
        <li *ngIf="dataAvailable" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/system">System</a>
        </li>
      </ul>

    </div>
    <div class="text-end">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-link nav-link" (click)="upload()"><i class="fas fa-spinner fa-upload"></i></button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link" (click)="download()"><i class="fas fa-spinner fa-download"></i></button>
        </li>
      </ul>



    </div>
  </div>
</nav>


<main class="content container-fluid">
  <router-outlet></router-outlet>
</main>


<div class="container-fluid">

  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-top">
      <li class="nav-item pr-5"><a routerLink="/">Home</a></li>
      <li class="nav-item pl-5 pr-5"><a routerLink="imprint">Imprint</a></li>
      <li class="nav-item pl-5 pr-5"><a routerLink="disclaimer">Disclaimer</a></li>
      <li class="nav-item pl-5"><a routerLink="privacyPolicy">Privacy Policy</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 Digital Rebels GmbH</p>
  </footer>
</div>



