
<nav  *ngIf="loggedIn" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Landscapr</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="loggedIn" class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="!selectedRepoId" class="nav-link" routerLinkActive="active" routerLink="dashboard" aria-current="page">Dashboard</a>
          <a *ngIf="selectedRepoId" class="nav-link" routerLinkActive="active" routerLink="r/{{selectedRepoId}}/dashboard" aria-current="page">Dashboard</a>
        </li>
        <li *ngIf="selectedRepoId" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="r/{{selectedRepoId}}/process">Process</a>
        </li>
        <li *ngIf="selectedRepoId" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="r/{{selectedRepoId}}/apiCall">Api Call</a>
        </li>
        <li *ngIf="selectedRepoId" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="r/{{selectedRepoId}}/capability">Capability</a>
        </li>
        <li *ngIf="selectedRepoId" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="r/{{selectedRepoId}}/system">System</a>
        </li>
      </ul>

    </div>
    <div *ngIf="loggedIn" class="text-end">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <form class="d-flex flex-grow-1" role="search">
            <ng-select class="mt-1 mr-4" placeholder="Select Dataset" [items]="repos$ | async"
                       [ngModel]="selectedRepoId" [ngModelOptions]="{standalone: true}"
                       (change)="changeRepo($event)" bindLabel="name" bindValue="id"></ng-select>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="repository">Repositories</a>
        </li>
        <li *ngIf="isAdmin()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu">
            <a class="nav-link text-dark" routerLink="account">Accounts</a>
            <a class="nav-link text-dark" routerLink="importExport">Import/Export</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="logout()">Logout</a>
        </li>
      </ul>



    </div>
  </div>
</nav>


<main *ngIf="loggedIn" class="content container-fluid">
  <router-outlet></router-outlet>
</main>

<main *ngIf="!loggedIn">
  <router-outlet></router-outlet>
</main>


<div class="container-fluid">

  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-top">
      <li class="nav-item pr-5"><a routerLink="/">Home</a></li>
      <li class="nav-item pl-5 pr-5"><a routerLink="imprint">Imprint</a></li>
      <li class="nav-item pl-5 pr-5"><a routerLink="disclaimer">Disclaimer</a></li>
      <li class="nav-item pl-5"><a routerLink="privacyPolicy">Privacy Policy</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 Digital Rebels GmbH</p>
  </footer>
</div>



