@use "src/styles/abstracts/variables" as vars;

:host {
    display: block;
    min-height: 100%;
}

.text-slate-400 { color: vars.$slate-400; }
.text-slate-500 { color: vars.$slate-500; }
.text-slate-600 { color: vars.$slate-600; }
.text-slate-700 { color: vars.$slate-700; }
.text-slate-800 { color: vars.$slate-800; }
.text-slate-900 { color: vars.$slate-900; }

.fw-bold {
  font-weight: 700 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.dashboard-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border: 1px solid rgba(0,0,0,.05);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    border-color: vars.$slate-300;
  }
}

.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3em;
  line-height: 1.5;
}
