@use '@angular/material' as mat;

@include mat.core();

// Typography
$typography: mat.define-typography-config(
  $font-family: 'Roboto, sans-serif'
);

// Light Theme
$light-primary: mat.define-palette(mat.$blue-palette);
$light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  ),
  typography: $typography,
));

