<tr class="tree-row" [style.--depth]="level" *ngIf="shouldShow()">
  <td class="text-nowrap tree-indent-cell">
    <div class="tree-indent-wrapper">
      <div class="toggle-icon"></div> <!-- Spacer -->
      <a class="btn btn-icon btn-sm text-muted" [routerLink]="['/journeys/edit', journey.id, 'editor']" title="Open in Editor"><i class="fas fa-project-diagram"></i></a>
      <a class="btn btn-icon btn-sm text-muted" [routerLink]="['/journeys/edit', journey.id, 'base']" title="Edit Journey"><i class="fas fa-edit"></i></a>
      <button class="btn btn-icon btn-sm text-muted" (click)="onShowDescription(journey); $event.stopPropagation()" title="Show Description"><i class="fas fa-info-circle"></i></button>
      <button class="btn btn-icon btn-sm text-muted" (click)="onDelete(journey); $event.stopPropagation()" title="Delete Journey"><i class="fas fa-trash"></i></button>
    </div>
  </td>
  <td class="w-100">
    <a class="font-weight-bold" [routerLink]="['/journeys/edit', journey.id, 'editor']">{{journey.name}}</a>
    <div *ngIf="journey.description" class="small text-muted text-truncate" style="max-width: 500px;">{{journey.description}}</div>
  </td>
  <td class="text-right text-muted small" style="width: 100px">
    <div class="d-flex align-items-center justify-content-end">
      <i class="fas fa-comments mr-2" [class.text-muted]="!journey.comments || journey.comments.length === 0"></i>
      <span>{{journey.comments?.length || 0}}</span>
    </div>
  </td>
  <td class="small text-muted" style="width: 150px">
    {{journey.tags}}
  </td>
  <td class="text-nowrap pl-1 pr-1 text-right" style="width: 30px">
    <span *ngIf="journey?.status === 0" class="badge-modern badge-draft">Draft</span>
    <span *ngIf="journey?.status === 1" class="badge-modern badge-validated">Validated</span>
  </td>
</tr>
