<tr class="tree-row" [style.--depth]="level" *ngIf="shouldShow()">
  <td class="text-nowrap tree-indent-cell" [colSpan]="node.isCluster ? 2 : 1">
    <div class="tree-indent-wrapper">
      <div *ngIf="node.isCluster" class="toggle-icon pointer" (click)="toggleExpand(); $event.stopPropagation()">
        <i class="fas fa-sm" [class.fa-chevron-down]="isExpanded" [class.fa-chevron-right]="!isExpanded"></i>
      </div>
      <div *ngIf="!node.isCluster" class="toggle-icon"></div> <!-- Spacer -->

      <span *ngIf="node.isCluster" class="font-weight-bold text-uppercase small text-gray-600">{{node.name}} ({{node.systems.length}})</span>

      <ng-container *ngIf="!node.isCluster">
        <a *ngIf="!selectMode" class="btn btn-icon btn-sm text-muted" routerLink="/system/edit/{{node?.id}}" title="Edit System"><i class="fas fa-edit"></i></a>
        <button *ngIf="!selectMode" class="btn btn-icon btn-sm text-muted" (click)="onShowDescription(node); $event.stopPropagation()" title="Show Description"><i class="fas fa-info-circle"></i></button>
        <button *ngIf="!selectMode" class="btn btn-icon btn-sm text-muted" (click)="onDelete(node); $event.stopPropagation()" title="Delete System"><i class="fas fa-trash"></i></button>
        <button *ngIf="selectMode" class="btn btn-icon btn-sm text-muted" (click)="onSelect(node); $event.stopPropagation()" title="Select System"><i class="fas fa-plus text-primary"></i></button>
      </ng-container>
    </div>
  </td>
  <td *ngIf="!node.isCluster">
    <a *ngIf="!selectMode" class="font-weight-bold" routerLink="/system/edit/{{node?.id}}">{{node.name}}</a>
    <span *ngIf="selectMode" class="font-weight-bold">{{node.name}}</span>
    <i *ngIf="orphanIds.includes(node.id)" class="ml-2 text-warning fas fa-unlink" title="Orphan: Not referenced by any API"></i>
  </td>
  <td class="text-right text-muted small" style="width: 100px">
    {{node.capabilityCount}}
  </td>
  <td class="text-right text-muted small" style="width: 100px">
    {{node.apiCount}}
  </td>
  <td class="small text-muted">
    {{node.tags}}
  </td>
  <td class="text-nowrap pl-1 pr-1 text-right" style="width: 30px">
    <ng-container *ngIf="!node.isCluster">
      <span *ngIf="node?.status === 0" class="badge-modern badge-draft">Draft</span>
      <span *ngIf="node?.status === 1" class="badge-modern badge-validated">Validated</span>
    </ng-container>
  </td>
</tr>

<ng-container *ngIf="isExpanded && node.isCluster">
  <app-system-tree-node
    *ngFor="let system of node.systems"
    [node]="system"
    [searchText]="searchText"
    [orphanIds]="orphanIds"
    [showOrphansOnly]="showOrphansOnly"
    [filterStatus]="filterStatus"
    [selectMode]="selectMode"
    (selectEmitter)="onSelect($event)"
    (deleteEmitter)="onDelete($event)"
    (showDescriptionEmitter)="onShowDescription($event)"
    [level]="level + 1">
  </app-system-tree-node>
</ng-container>
