<div class="system-node" *ngIf="shouldShow()">
  <div class="d-flex align-items-center py-1 hover-bg-light border-bottom">
    <div [style.width.px]="level * 20" *ngIf="level > 0"></div>
    <div class="d-flex align-items-center flex-grow-1">
        <div style="width: 25px" class="text-center">
            <button *ngIf="node.isCluster" class="btn btn-sm btn-link p-0 text-dark" (click)="toggleExpand()">
                <i class="fas fa-sm" [class.fa-chevron-down]="isExpanded" [class.fa-chevron-right]="!isExpanded"></i>
            </button>
        </div>
        <div class="mr-2" *ngIf="!node.isCluster">
            <a *ngIf="!selectMode" class="black" routerLink="/system/edit/{{node?.id}}"><i class="fas fa-edit"></i></a>
            <button *ngIf="selectMode" class="btn btn-sm btn-outline-primary" (click)="onSelect(node)"><i class="fas fa-plus"></i></button>
        </div>
        <div class="flex-grow-1">
            <span *ngIf="node.isCluster" class="font-weight-bold text-uppercase small text-gray-600">{{node.name}}</span>
            <a *ngIf="!node.isCluster && !selectMode" class="black font-weight-bold" routerLink="/system/edit/{{node?.id}}">{{node.name}}</a>
            <span *ngIf="!node.isCluster && selectMode" class="font-weight-bold">{{node.name}}</span>
            <i *ngIf="!node.isCluster && orphanIds.includes(node.id)" class="ml-2 text-warning fas fa-unlink" title="Orphan: Not referenced by any API"></i>
        </div>
    </div>
    <div class="text-right text-muted small" style="width: 100px">
        {{node.capabilityCount}}
    </div>
    <div class="text-right text-muted small" style="width: 100px">
        {{node.apiCount}}
    </div>
    <div class="w-25 small text-muted ml-2">
        {{node.tags}}
    </div>
    <div class="ml-2 text-right" style="width: 30px">
        <i *ngIf="!node.isCluster && node?.status === 0" class="text-warning fas fa-exclamation-triangle" title="Draft"></i>
        <i *ngIf="!node.isCluster && node?.status === 1" class="text-success fas fa-check-circle" title="Validated"></i>
    </div>
  </div>

  <div *ngIf="isExpanded && node.isCluster">
    <app-system-tree-node
        *ngFor="let system of node.systems"
        [node]="system"
        [searchText]="searchText"
        [orphanIds]="orphanIds"
        [showOrphansOnly]="showOrphansOnly"
        [selectMode]="selectMode"
        (selectEmitter)="onSelect($event)"
        [level]="level + 1">
    </app-system-tree-node>
  </div>
</div>
