<div class="btn-group mr-2" role="group" *ngIf="systemId">
  <a class="btn btn-outline-secondary" [routerLink]="['/system', 'list']" routerLinkActive="active" title="Capabilities"><i class="fas fa-list"></i></a>
  <a class="btn btn-outline-secondary" [routerLink]="['/system', 'edit', systemId, 'base']" routerLinkActive="active" title="Base"><i class="fas fa-info"></i></a>
  <a class="btn btn-outline-secondary" [routerLink]="['/system', 'edit', systemId, 'usage']" routerLinkActive="active" title="Capabilities"><i class="fas fa-briefcase"></i></a>
  <a class="btn btn-outline-secondary" [routerLink]="['/system', 'edit', systemId, 'apis']" routerLinkActive="active" title="APIs"><i class="fas fa-plug"></i></a>
</div>
