
<div class="container-xl mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="btn-toolbar" role="toolbar">
      <app-system-edit-nav [systemId]="systemId"></app-system-edit-nav>
      <div class="btn-group shadow-sm">
        <button class="btn btn-outline-primary" title="Add" (click)="openAddModal()"><i class="fas fa-plus mr-1"></i> Add</button>
      </div>
    </div>
    <div class="text-right">
      <h2 class="m-0 font-weight-bold text-uppercase text-gray-400">{{system?.name}}</h2>
      <div class="text-muted small">Implements Capability</div>
    </div>
  </div>

  <div class="card shadow-sm border-0 mb-4">
    <div class="card-body">

      <div class="mt-1" *ngFor="let item of implementedCapabilities">
        <app-capability-overview [capability]="item" [readOnly]="false" (deleteEmitter)="removeCapability($event)"></app-capability-overview>
      </div>


    </div>
  </div>
</div>
